.space-noto {
    font-family: "Noto Serif", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}

.space-noto-sans {
    font-family: "Noto Sans", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}

.space-ancizar {
    font-family: "Ancizar Serif", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}

.space-ancizar-sans {
    font-family: "Ancizar Sans", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}

.space-gentium {
    font-family: "Gentium Plus", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}

.space-andika {
    font-family: "Andika", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}