.kerning-noto {
    font-family: "Noto Serif", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}

.kerning-noto-sans {
    font-family: "Noto Sans", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}

.kerning-ancizar {
    font-family: "Ancizar Serif", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}

.kerning-ancizar-sans {
    font-family: "Ancizar Sans", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}

.kerning-gentium {
    font-family: "Gentium Plus", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}

.kerning-andika {
    font-family: "Andika", "Adobe NotDef";
    font-weight: 400;
	font-size: 36px
}